<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="keya_ros2_control" params="name prefix">
        <ros2_control name="${name}" type="actuator">
            <hardware>
                <plugin>keya_driver_hardware_interface/KeyaDriverHW</plugin>
                <!-- <param name="device_id">can0</param> -->
                <!-- <param name="can_id_list">{1}</param> -->
                <!-- homing configuration options -->
                <!-- choose either "auto" or "manual" only -->
                <param name="homing_mode">manual</param>
            </hardware>

            <joint name="${prefix}_joint">
                <command_interface name="position" >
                    <param name="min">-0.4</param>
                    <param name="max">0.4</param>
                </command_interface>
                
                <state_interface name="position" />
            </joint>

            <transmission name="${prefix}_transmission">
                <plugin>transmission_interface/SimpleTransmission</plugin>
                <joint name="${prefix}_joint" role="${prefix}_joint">
                    <mechanical_reduction>22.44</mechanical_reduction>
                </joint>
            </transmission>
        </ros2_control>

    </xacro:macro>

</robot>